{% extends 'base.html' %}

{%  block content %}

<div class="card">
    <h1 class="h1">Create a user</h1>
    <form action="/users/new" method="POST">
        <div class="form-group m-3">
          <label for="first_name" class="form label">First Name</label>
          <input class="form control w-25" type="text" id="first_name" name="first_name" placeholder="Enter a First name">
         
        </div>
        <div class="form-group m-3">
            <label for="last_name" class="form label">Last Name</label>
            <input class="form control w-25" type="text" id="last_name" name="last_name" placeholder="Enter a Last name">
           
        </div>
        <div class="form-group m-3">
            <label for="image_url" class="form label">image URL</label>
            <input class="form control w-25" type="text" id="image_url" name="image_url" placeholder="Provide an image of this user">
            
        </div>
        <div class="bt-btn w-25 text-end">
            <button type="submit" class=" btn btn-success">Add</button>
        </div>
        
    </form>
</div>


{% endblock %}

