{% extends 'base.html' %}

{% block page_title %}
{{page_title}}
{% endblock %}

{% block content %}

<form method="POST">
    <div class="container-fluid m-3">
        <h1 class="h1">Edit Post</h1>
        <div class="mb-2 form-group">
            <label for="title" class="form label">Title</label>
            <input type="text" value={{post.title}} name="title" class="form-control w-25" id="title" aria-describedby="title">
          </div>
          <div class="mb-2 form-group">
            <label for="content" class="form label">Content</label>
            <textarea class="form-control w-25" row="3" name="content" id="content" aria-describedby="content">{{post.content}}</textarea>
        </div>   
        
        {% for tag in tags %} 
        <div class="mb-2 form-check">
               <input class="form-check-input" 
                      type="checkbox" 
                      value="{{tag.id}}" 
                      name="tags" 
                      id="tag_{{tag.name}}"
                      {% if tag in post.tags %}checked{% endif %}>
                <label for="tag_{{tag.name}}" class="form-check-label">
                    {{tag.name}}
                </label>
        </div>  
        {% endfor %} 
        <div class="form-group">
            <div class="ml-auto mr-3">
                <a href="/users/{{user.id}}"><button type="button" class="btn btn-info">Cancel</button></a>
                <button type="submit" class="btn btn-success">Edit</button>
            </div>
       
        </div>
         
         
    </div>

    
</form>


{% endblock %}