{% extends 'base.html' %}

{% block page_title %}
{{page_title}}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <ul>
        <h1 class="h1">{{tag.name}}</h1>
        {% for post in posts %}
        <li>
            <a class="text-decoration-none" href="/posts/{{post.id}}">{{post.title}}</a>
        </li>

        {% endfor %}
    </ul>
    <div class="btn-group" role="group">
        <form action="/tags/{{tag.id}}/edit", methods='GET'>
            <button class="btn btn-primary m-1">Edit</button>
        </form>
        <form action="/tags/{{tag.id}}/delete", method="POST">
            <button class="btn btn-danger m-1">Delete</button>
        </form>
        
    </div>

</div>


{% endblock %}