{% extends 'base.html' %}

{% block page_title %}
{{page_title}}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="h1">Create a tag</h1>
    <form method="POST">
        <div class="mb-2 form-group">
            <label for="tag-name" class="form-label">Name</label>
            <input type="text" name="tag-name" class="form-control w-25" id="tag-name" aria-describedby="tag-name">
        </div>
        <div class="bt-btn w-25 text-end">
            <a class=" btn btn-outline-primary" href="/tags"> Cancel </a>
            <button type="submit" class=" btn btn-success">Add</button>
        </div>
    </form>
</div>


{% endblock %}